
html{
    box-sizing: border-box;
}

*,
*::after, *::before{
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

address {
    font-style: normal;
}


:root {
 --title-text-color: #212121;
 --primary-text-color: #757575;
 --accent-color: #2196F3;
 --button-white-color: #FFFFFF;
 --background-section: #2F303A;
 --background-color: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 1.71;
}   

.list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
/*Шапка*/

.header-page{
    border-bottom: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;

}


/*Логотип*/

.logo{
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;


}

.nav .logo{
margin-right: 93px;
}

.logo .logo-word{
    color: #2196F3;
}

.main-nav{
display: flex;
align-items: center;
justify-content: space-between;
}

.nav,
.site-nav{
    display: flex;
    align-items: center;
}


.site-nav .item:not(:last-child){
    margin-right: 50px;
}

.site-nav .link{
    color: var(--title-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .current{
    color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.contact{
    display: flex;
}
.contact .link{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact .item:not(:last-child){
    margin-right: 50px;
}
.contact .link:hover,
.contact .link:focus{
color: var(--accent-color);
}

/*Добавила background только чтобы было видно текст*/
.hero{
background-color: var(--background-section);
text-align: center;
padding-top: 200px;
padding-bottom: 200px;
}

.hero .hero-title {
    display: block;
    width: 696px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

    color: var(--button-white-color);
    font-weight: 900;
    font-size: 44px;    
    line-height: 1.36;    
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    
    margin-top: 0;
    margin-bottom: 30px;
}

/*Button*/

.button {
    font-size: 16px;
    text-align: center;     
    cursor: pointer;
    font-family: inherit;
    border-color: transparent;
    border-radius: 4px;
}

.button-primary {
    color: var(--button-white-color);
    background-color: var(--accent-color);
    
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    padding: 10px 32px;
    min-width: 200px;
}

.button-secondary {
    display: inline-block;
    color: var(--title-text-color);
    background-color: var(--background-color);

    font-weight: 500;
    line-height: 1.62;

    padding: 6px 22px;   
}

.button-secondary:not(:last-child){
    margin-right: 8px;
}

.button-primary:hover,
.button-primary:focus{
    color: var(--title-text-color);
    background-color: var(--background-color);
}
.button-secondary:hover,
.button-secondary:focus{
    color: var(--button-white-color);
    background-color: var(--accent-color);
}

.button.active{
    color: var(--button-white-color);
    background-color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features{
    display: flex;
}

.features .item{
    width: 270px;
}

.features .item:not(:last-child){
    margin-right: 30px;
}

.features .features-title{
    color: var(--title-text-color);
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        margin-top: 0px;
        margin-bottom: 10px;
}

.features .feature-text{
        line-height: 1.17;
margin-bottom: 0;
margin-top: 0;
padding-top: 13.5px;
padding-bottom: 13.5px;

    
}
.works{
padding-top: 0;
}

.works .works-images{
    display: flex;
}

.works-images .work{
    display: block;
    max-width: 100%;
    height: auto;
}


.works .works-images .item:not(:last-child){
    margin-right: 30px;
}

.section-title{
    color: var(--title-text-color);
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 50px;
}

.team{
    background-color: var(--background-color);
}

.team-list{
    display: flex;
}

.team-list .item{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    background-color: var(--button-white-color);
}

.team-list .item:not(:last-child){
    margin-right: 30px;
}

.team-list .item .img-descr{
padding-top: 30px;
padding-bottom: 30px;
}
.team .team-member{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 0;
    margin-bottom: 10px;
}

.team .team-descrp{
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 0;
}

.team-list .item .team-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: var(--background-section);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .page-footer .logo {
    display: block;
    color: var(--button-white-color);
    margin-bottom: 20px;
}

.address-list .list .item:not(:last-child){
    margin-bottom: 9px;
}

.address-list .address{
    font-style: normal;
    color: var(--button-white-color);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}

.address-list .mail:hover,
.address-list .mail:focus,
.address-list .tel:hover,
.address-list .tel:focus{
    color: var(--accent-color);
}

.address-list .mail,
.address-list .tel{
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
}



.portfolio-item{
    text-decoration: none;

}

.portfolio-title{
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    margin-top: 0;
}

.portfolio-descrp{
    font-size: 16px;
    line-height: 1.88;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;

    margin: -15px;
}


.portfolio-list .item{
    margin: 15px;

}

.portfolio-list .item .img-descr {
    border: 1px solid #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.item .portfolio-img{
    display: block;
    max-width: 100%;
    height: auto;
}

.portfolio-nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-nav .item:not(:last-child){
margin-right: 8px;
}

